.wrapper {
  width: 890px;
  margin: 0 auto;
}

#slider, #slider img {
  width: 890px;
  height: 591px;
}

#slider {
  overflow: hidden;
  margin: 50px auto;
}

#slider img {
  display: none;
}

.navigation_button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  text-decoration: none;
  color: black;
}

a.left {
  float: left;
}

a.right {
  float: right;
}
